
<!DOCTYPE html>
<html>
<head>
	<title>Secuence analizer</title>
</head>
<body>
</html>
<div>
	<table style="margin:10px;">
		<th>new? <a href="/createUser">create an account</a></th>
		<tr>already have an account?<a href="/login">Log in</a></tr>
	</table>
</div>
</body>
